<form action="/addPark" method="POST">
  <div class="field">
    <label for="parkName" class="label">Park Name</label>
    <input bind:value={parkName} id="parkName" class="input" type="text" placeholder="Enter park name" name="parkName">
 <div class="field">
    <div class="control">
      <input class="radio" type="radio" name="rating" value="1">Terrible
      <input class="radio" type="radio" name="rating" value="2"> Disliked
      <input class="radio" type="radio" name="rating" value="3"> Okay
      <input class="radio" type="radio" name="rating" value="4"> Great
      <input class="radio" type="radio" name="rating" value="5"> Loved
    </div>
  </div>
  <div class="field">
    <label for="lat" class="label">Latitude</label>
    <input bind:value={lat} id="lat" class="input" type="text" placeholder="Enter Latitude" name="lat">
  </div>
  <div class="field">
     <label for="lng" class="label">Longitude</label>
     <input bind:value={lng} id="lng" class="input" type="lng" placeholder="Enter Longitude" name="lng">
  </div>
  <div class="field is-grouped">
      <button on:click={addPark(parkName, rating, lat, lng)} class="button is-link">Add Park</button>
  </div>
</form>