<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Park Services Inc." subTitle="Create a list of favorite parks today!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="public/swan.jpg">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Create and Rate!</h1>
    {{> AddParkForm }}
  </div>
</div>