<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Park Services Inc." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="public/fairy.jpg"/>
  </div>
  <div class="column">
    <h1 class="title">Create and Rate Local Parks</h1>
    <p>Create a list of favourite local parks.</p>
  </div>
</div>